* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  background-color: #cecece;
  color: hsla(0,0%,0%,.55);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1c1c1c;
    color: hsla(0,0%,100%,.55);
  }
}

@media print {
  html {
    background-color: #fff;
    color: #000;
  }
}
